.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav {
  margin-bottom: 1.5em;
}

.cv-template {
  width: 8.27in; 
  height: 11.69in; 
  border: 1px solid black;
  box-sizing: border-box;
  padding: 1em;
  overflow: scroll;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  gap: 1em;
}

.contact p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

h2 {
  margin-top: 0.2em;
}

h3 {
  margin-top: 0.4em;
  margin-bottom: 0;
  font-weight: bold;
  border-bottom: 1px solid rgb(100, 100, 100);
}

h4, h5 {
  margin-top: 0.4em;
  margin-bottom: 0;
}

.summary p {
  margin-top: 0.3em;
  text-align: justify;
}

ul {
  margin-top: 0.3em;
  padding-left: 1em;
}

h4 {
  display: flex;
}

.company-info {
  display: flex;
  align-items: center;
}

.university-information {
  display: flex;
  align-items: center;
}

.university-information > span {
  margin-left: auto;
}

div > span {
  margin-left: auto;
  margin-top: 0.4em;
}

.education p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.others ul > li > span:last-child {
  font-weight: bold;
}

.others ul {
  margin-bottom: 0.3em;
}