.App {
  text-align: center;
}



.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.nav {
  margin-bottom: 1.5em;
}

.cv-template {
  width: 8.27in; 
  height: 11.69in; 
  border: 1px solid black;
  box-sizing: border-box;
  padding: 1em;
  overflow: scroll;
  background-color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  gap: 1em;
}

.contact p {
  margin-top: 0;
  margin-bottom: 0;
  /* font-size: 14px; */
}

h2 {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

h3 {
  margin-top: 0.4em;
  margin-bottom: 0;
  font-weight: bold;
  border-bottom: 1px solid rgb(100, 100, 100);
}

h4, h5 {
  margin-top: 0.4em;
  margin-bottom: 0;
}

.summary p {
  margin-top: 0.3em;
  text-align: justify;
}

ul {
  margin-top: 0.3em;
  padding-left: 1em;
}

h4 {
  display: flex;
}

.company-info {
  display: flex;
  align-items: center;
}

.company-info > div {
  margin-left: auto;
}

.university-information {
  display: flex;
  align-items: center;
}

.university-information > span {
  margin-left: auto;
}

div > span {
  margin-left: auto;
  margin-top: 0.4em;
}

.education p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.others ul > li > span:last-child {
  font-weight: bold;
}

.others ul {
  margin-bottom: 0.3em;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid bisque;
  /* background-color: #6c757d; */
  /* color: green; */
  font-size: 14px;
  cursor: pointer;
  margin-left: 0.4em;
}

button:hover {
  background-color: rgba(108, 117, 125, 0.5);
}

button:focus {
  outline: none;
  /* box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.5); */
}


input[type="text"] {
  border: none;
  border-bottom: 1px solid lightgray;
  
}

#name[type="text"] {
  font-size: 22px;
  margin-bottom: 0.3em; 
  width: 10em;
}

.summary > div {
  margin-top: 0.3em;
  display: flex;
  align-items: center;
}

.skills input[type='text'] {
  width: calc(8.27in - 26px - 6em);
  /* height: fit-content; */
}


.work-experience ul input[type="text"] {
  width: calc(8.27in - 26px - 6em);
}

.others input[type="text"] {
  width: 30em;
}

.nav {
  font-size: 2em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.nav p {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 4px #929293; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 4px #929293;
  -webkit-text-shadow: 0 0 4px #929293;
}
/* .footer {
  font-weight: bold;
  margin-top: 0.3em;
  background-color: lightcoral;
  color: white;
  width: 100vw;
} */

button#download {
  font-size: 16px;
  padding: 0.3em 3em;
  margin-left: auto;
  border-radius: 8px;
  position: absolute;
  left: 70%;
  border: 1px solid rgb(127, 126, 126);
}